@font-face {
  font-family: "Ramche";
  src: url("/Ramche.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Ramche";
}

.game-container {
  position: relative;
  user-select: none;
  margin: auto;
  overflow: hidden;
}

.hand-detect {
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.board {
  border: 2px solid black;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
  opacity: 0;
}

.cell.I {
  background-color: rgb(80, 227, 230);
}

.cell.J {
  background-color: rgb(36 95, 223);
}

.cell.L {
  background-color: rgb(223, 173, 36);
}

.cell.O {
  background-color: rgb(223, 217, 36);
}

.cell.S {
  background-color: rgb(48, 211, 56);
}

.cell.T {
  background-color: rgb(132, 61, 198);
}

.cell.Z {
  background-color: rgb(227, 78, 78);
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 20px;
}

.cell.hidden {
  visibility: hidden;
}
