@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "establishRetrosansOTF";
  background-color: #000000;
  background-attachment: local;
  width: 100vw;
  height: 100vh;
  white-space: pre-line;
}
